{% extends "base.html" %}

{% block content_title %}
<p class="font-weight-bold">Change password</p>
{% endblock %}

{% block content %}
<p>Input your new password</p>
    <form action="" method="POST">
    <div align="container">
      <div class="row justify-content-center">
         <div align="right">
            <p>
               <label for="password">New password: </label>
               <input type="password" id="password" name="password">
            </p>
         </div>
      </div>
   </div>
    <p style="color: red">{{ data.status }}</p>
    <input type="submit" name="submit" class="btn btn-success" value="Change">
{% endblock %}