<!DOCTYPE html>
<html>
  <head>
    <title>ShadowMail - {{title}}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"
            integrity="sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI=" crossorigin="anonymous"/>
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
