{% extends "layout.html" %}
{% block body %}
<div class="row mt-5">
    <div class="col">

    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Добавление</div>
            <div class="card-body">
                <form action='' method='POST'>
                    <label>Добавить сайт</label>
                    <input name="site" placeholder='https://yandex.ru'>
                    <input type="Submit">
                </form>
            </div>
        </div>

    </div>
    <div class="col">

    </div>

</div>
{% endblock %}