{% extends "layout.html" %}
{% block body %}
    <div class="container">

        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">Войдите</h2>
            <label for="inputEmail" class="sr-only">Логин</label>
            <input type="text" id="inputEmail" class="form-control" name="login" placeholder="servant" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" name="password" class="form-control" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Логин</button>
        </form>
    </div>
{% endblock %}