html, body{
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}